## *PYTHON PARA PLN LISTA DE EXERCÍCIOS 1* ##

### *1. Crie três variáveis e atribua os valores a seguir: a=1, b=5.9 e c=‘teste’. A partir disso, retorne o tipo de cada uma das variáveis.* ###

In [1]:
a = 1; b = 5.9; c= 'teste'
print('Tipo da variável A: ',type(a))
print('Tipo da variável B: ',type(b))
print('Tipo da variável C: ',type(c))

Tipo da variável A:  <class 'int'>
Tipo da variável B:  <class 'float'>
Tipo da variável C:  <class 'str'>

### *2. Troque o valor da variável a por ‘1’ e verifique se o tipo da variável mudou.* ##

In [2]:
a = '1'

# verificando se o tipo da variável mudou
print('Tipo da variável A: ',type(a))

Tipo da variável A:  <class 'str'>

### *3. Faça a soma da variável b com a variável c. Interprete a saída, tanto em caso de execução correta quanto em caso de execução com erro.* ###

In [3]:
soma = b + c
print(soma)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

#### traduzindo o erro da execução, não é suportado operações de soma entre os tipos Float(numerico) e Str(texto)####

### *4. Crie uma lista com números de 0 a 9 (em qualquer ordem). Com ela, faça:* ###

In [4]:
lista = [1,3,2,4,6,5,8,0,9,7]

#### a. Adicione o número 6 ####

In [5]:
lista.append(6)

#### b. Insira o número 7 na 3ª posição da lista ####

In [6]:
lista[2] = 7

In [7]:
print(lista)

[1, 3, 7, 4, 6, 5, 8, 0, 9, 7, 6]

#### c. Remova o elemento 3 da lista ####

In [8]:
lista.remove(3)
print(lista)

[1, 7, 4, 6, 5, 8, 0, 9, 7, 6]

#### d. Adicione o número 4 ####

In [9]:
lista.append(4)
print(lista)

[1, 7, 4, 6, 5, 8, 0, 9, 7, 6, 4]

#### e. Verifique o número de ocorrências do número 4 na lista ####

In [12]:
print( 'A quantidade de vezes que o 4 aparece na lista é: ', lista.count(4))

A quantidade de vezes que o 4 aparece na lista é:  2

### *5. Ainda com a lista criada na questão anterior, faça:* ###

#### a. Retorne os primeiros 3 elementos da lista ####

In [15]:
print('Os três primeiro elementos da lista é: ',lista[:3])

Os três primeiro elementos da lista é:  [1, 7, 4]

#### b. Retorne os elementos que estão da 3ª posição até a 7ª posição da lista ####

In [18]:
print(lista)
print('Os elementos entre a 3ª e a 7ª posição são: ', lista[3:7])

[1, 7, 4, 6, 5, 8, 0, 9, 7, 6, 4]
Os elementos entre a 3ª e a 7ª posição são:  [6, 5, 8, 0]

#### c. Retorne os elementos da lista de 3 em 3 elementos ####

In [20]:
print(lista)
print(lista[::3])

[1, 7, 4, 6, 5, 8, 0, 9, 7, 6, 4]
[1, 6, 0, 6]

#### d. Retorne os 3 últimos elementos da lista ####

In [23]:
print(lista)
print('Os 3 ultimos elementos da lista são: ', lista[-3:])

[1, 7, 4, 6, 5, 8, 0, 9, 7, 6, 4]
Os 3 ultimos elementos da lista são:  [7, 6, 4]

#### e. Retorne todos os elementos menos os 4 últimos da lista ####

In [24]:
print(lista)
print('Os elementos da lista menos os 4 ultimos são: ', lista[:-4])

[1, 7, 4, 6, 5, 8, 0, 9, 7, 6, 4]
Os elementos da lista menos os 4 ultimos são:  [1, 7, 4, 6, 5, 8, 0]

### *6. Com a lista das questões anteriores, retorne o 6º elemento da lista.* ###

In [28]:
print(lista)
print('O 6ª elemento da lista é: ', lista[5])

[1, 7, 4, 6, 5, 8, 0, 9, 7, 6, 4]
O 6ª elemento da lista é:  8

### *7. Altere o valor do 7º elemento da lista para o valor 12.* ###

In [29]:
print(lista)
lista[6] = 12
print(lista)

[1, 7, 4, 6, 5, 8, 0, 9, 7, 6, 4]
[1, 7, 4, 6, 5, 8, 12, 9, 7, 6, 4]

### *8. Inverta a ordem dos elementos na lista.* ###

In [35]:
print(lista)
lista.reverse()
print(lista )

[1, 7, 4, 6, 5, 8, 12, 9, 7, 6, 4]
[4, 6, 7, 9, 12, 8, 5, 6, 4, 7, 1]

### *9. Ordene a lista.* ###

In [37]:
print(lista)
lista.sort()
print('A lista ordenada é: ', lista)

[1, 4, 4, 5, 6, 6, 7, 7, 8, 9, 12]
A lista ordenada é:  [1, 4, 4, 5, 6, 6, 7, 7, 8, 9, 12]

## *10. Crie uma tupla com números de 0 a 9 (em qualquer ordem) e tente:* ##

In [38]:
myTuple = (3,2,4,1,7,8,9,0,5)

#### a. Alterar o valor do 3º elemento da tupla para o valor 10 ####

In [40]:
print(myTuple)
myTuple(2) = 10
print(myTuple)

SyntaxError: can't assign to function call (<ipython-input-40-d7a2124f37d9>, line 2)

#### .... continue ####